<h1><%= @post.title %></h1>

<p><%=@post.content%></p>

Categories: <br/>
<ul>
  <% @post.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<%= form_for(@post.comment) do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <%= f.submit %>

<% end %>
